<!DOCTYPE html>
<html>
    <head>
          <title>
              Bienvenue sur ma page avec DrakClassroom
          </title>
    </head>
    <body>
        <h1>Bonjour tout le monde</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quos delectus, pariatur doloribus mollitia enim quae error, amet exercitationem quod ad aliquam aperiam illo facilis laboriosam, deserunt dolores voluptate fuga.</p>
    </body>
</html>
